<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

 <div>
   <div class="title">
    Formulaire Agent
   </div>
   <div class="form">
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <div class="name">
        <input formControlName="fullName" type="text" placeholder="Fullname">
      </div>
      <div class="profil">
        <select formControlName="jobName" name="profil">
          <option value="Policier">Policier</option>
          <option value="Chauffeur">Chauffer</option>
          <option value="Jardinier">Jardinier</option>
          <option value=""></option>
        </select>
      </div>
      <button type="submit"> Save </button>
      <div *ngIf="isLoading">
        Sauvegarde en cours...
      </div>
      <div *ngIf="jobForm.invalid && jobForm.touched" class="error">
          Le formulaire est invalide
        </div>

    </form>
   </div>
   <div class="list">
    <app-list-persons [listPersons]="[{ fullName: 'Momar',jobName: 'Policier'}]"> </app-list-persons>
   </div>
 </div>
